.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navbar {
  position: static;
  bottom: auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #b735df;
}

.image {
  width: 10px;
}

.image-2 {
  margin-top: -70px;
  margin-left: 50px;
  padding: 0px;
}

.navbar-links {
  margin-top: 0px;
  padding-top: 30px;
  background-color: #b735df;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.navbar-links.w--current {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
}

.grid {
  margin-top: 25px;
  -ms-grid-columns: 0.25fr 1fr 1fr;
  grid-template-columns: 0.25fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.image-3 {
  width: 160px;
}

.image-4 {
  width: 160px;
}

.image-5 {
  width: 160px;
}

.headshot {
  min-width: 120px;
}

.grid-2 {
  grid-row-gap: 0px;
  grid-template-areas: ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    "Area Area-2 Area-3"
    "Area-5 Area-6 Area-4";
  -ms-grid-columns: 0.25fr 1fr 1fr;
  grid-template-columns: 0.25fr 1fr 1fr;
  -ms-grid-rows: 0.25fr 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto;
  grid-template-rows: 0.25fr auto auto auto auto auto auto auto;
  background-color: #fff;
}

.players {
  margin-top: 57px;
  margin-right: 0px;
  margin-left: -39px;
  padding-right: 0px;
  padding-left: 105px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.grid-3 {
  margin-top: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.text-block {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

.text-block-2 {
  color: #000;
  font-size: 30px;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid-4 {
  grid-row-gap: 16px;
  grid-template-areas: "Area-2"
    "Area";
  -ms-grid-rows: minmax(150px, 1fr) 16px 150px 16px 150px 16px 150px 16px 150px 16px 150px 16px 150px 16px 150px 16px 150px 16px 125px;
  grid-template-rows: minmax(150px, 1fr) 150px 150px 150px 150px 150px 150px 150px 150px 125px;
}

.grid-5 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .players {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .players {
    font-size: 15px;
  }
}

#w-node-c082b957-8a61-c57d-1e57-40ba601e648d-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_124256be-9a96-8964-3f82-5480b7f1bd74-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_72bec063-8b54-1dcd-8f57-824b1ce2de1c-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b59d0196-6b92-b9ba-f03d-25820a0b855d-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-_7ef4e99a-1630-a40b-63dd-f4d0a18bb0b3-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_8bab8d44-3c1e-222c-ba71-67a6b7aa2a01-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-b84783b5-493d-fb34-d81b-1c23af8a8e82-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 2;
  grid-row-end: 9;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b721-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b724-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b725-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b726-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b727-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b728-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-a3d8f512-02d7-7b50-35c0-98679827b729-b7ad0140 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 2;
  grid-row-end: 9;
}

#w-node-bee009f8-cdb9-f24a-b68e-573f921c027d-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-f0ec3fd7-77b0-1de8-b39e-26f27a110634-da6a7061 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_683c7324-4b93-69fe-64ef-2ab8537a55a6-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_1a8ebed1-bd81-c2eb-7a3d-5d2b74c409d9-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a5a6c0d8-f872-0378-63a5-1b7131dc6209-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_0786baa6-a403-0ff1-a15c-65db21534793-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-c935cd5d-9b80-9b39-e26d-02caaa5e0add-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_558e3d43-de27-9e2e-3167-7ece0b5c76d6-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_17ae6cab-89b8-5f89-d14f-8c60f5253b3e-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_7f12e3a0-70c3-202e-1bc1-d63a5aec6335-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_992caac6-201b-ced6-96d7-a1cdc8e71dfd-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_6a369209-193a-1403-f367-b08577d552fd-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b8e913c4-7a6e-14a2-077a-ea6479f2e397-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-be823a8e-812b-5820-2b5f-fb1cceb4ffa5-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_03bf2923-3029-6385-873d-0b7cbc608913-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ea68e5eb-05ff-4f1b-3e4b-6ede8b2676a9-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_63bdcad3-b585-25db-a54a-4278bfcd5f11-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_7e9ea584-e79f-c7d6-0f86-67abe7441a3e-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_2b2d445a-6c12-5957-6354-83d9fa88336a-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_9a695c9e-37ef-afde-b90f-4ba6eb3668f8-da6a7061 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_236e4a07-8265-b1a8-74f9-f2c4e852e752-da6a7061 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32354-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32357-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32358-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32359-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f3235a-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f3235b-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f3235c-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f3235d-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f3235e-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f3235f-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32360-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32361-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32362-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32363-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-_8e443c5b-7907-41d2-efbb-94dd60f32364-085891d7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-_16ddd81c-3628-7166-a8fc-9a04040d481c-085891d7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869e6-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869e9-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869ea-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869eb-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869ec-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869ed-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869ee-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869ef-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f0-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f1-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f2-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f3-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f4-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f5-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-_715e8ea8-0d59-d362-a8f9-a3c642e869f6-b7f64cd9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa77-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa7f-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa81-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa82-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa84-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa85-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa87-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa88-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-ff802f8b-1160-4e85-9d6e-f560a7fbaa89-505b816c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}